/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    align-items: center;
}
/* button primary */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}
.btn-primary:hover{
    background-color: #ff4747;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}
.btn-primary:active{
    background-color: #1f0a0a;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;

}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* work flow */
.work{
    justify-content: space-between;
    display: flex;
    margin: 141px 159px;
    text-align: left;
}
/* Header img */
.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* banner degin */
.banner{
    text-align: center;
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
   
}
.banner-style{
    color: #252432;
    font-weight: 700;
    font-size: 65px; 
    margin:0;
}

.wc-mini-pic{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}